<!DOCTYPE html>
<html>
    <head>
        <title>Details - ADEN</title>
    </head>
    <body>
        The details:
        <%= user_sess.user_name %>
        <%= user_sess.email %>
        <%= user_sess.password %>
        <%= user_sess.clinic %>
        <%= user_sess.work_clinic %>
        <%= user_sess.Specialty %>
        <%= user_sess.doctorID %>
        <%= user_sess.role %>
    </body>
</html>