<!DOCTYPE html>
<html>
    <head>
        <title>Details - ADEN</title>
    </head>
    <body>
        The details:
        <%= the_user.user_name %>
        <%= the_user.email %>
        <%= the_user.password %>
        <%= the_user.clinic %>
        <%= the_user.work_clinic %>
        <%= the_user.Specialty %>
        <%= the_user.doctorID %>
        <%= the_user.role %>
    </body>
</html>