<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Search - ADEN</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">

  <!-- Vendor CSS Files -->
  <link href="vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link href="css/search.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->

  <%- include('partials/header'); %>

  <!-- End Header -->

  <div class="s004">
    <form action="/search" method="POST">
      <fieldset>
        <legend>WHAT ARE YOU LOOKING FOR?</legend>
        filter:
        <br>
        <form>
          <input type="radio" id="name" name="fil" value="name" checked='checked'>
          <label for="name">name</label>
          <input type="radio" id="Specialty" name="fil" value="Specialty">
          <label for="Specialty">Specialty</label>
          <input type="radio" id="clinic" name="fil" value="clinic">
          <label for="clinic">clinic</label><br>
        </form> 
        sort:
        <form>
          <input type="radio" id="random" name="fil" value="random" checked='checked'>
          <label for="random">random</label>
          <input type="radio" id="AtoZ" name="fil" value="AtoZ">
          <label for="AtoZ">A to Z</label>
          <input type="radio" id="ZtoA" name="fil" value="ZtoA">
          <label for="ZtoA">Z to A</label>
        </form> 
        <br>

        <div class="inner-form">
          <div class="input-field">
            <input class="form-control" id="choices-text-preset-values" name="search_box" type="text" placeholder="Type to search..." />
            <button class="btn-search" type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
              </svg>
            </button>
          </div>
        </div>

        <div class="table-data">
          <table border="1" >
              <tr>
                  <th>Doctor</th>
                  <th>email</th>
                  <th>work clinic</th>
                  <th>Specialty</th>
              </tr>
              
              <%
              if(doc_sess){
              var i=1;
              doc_sess.forEach(function(data){
              %>
              <tr>
                  <td><%=i; %></td>
                  <td><%=data.user_name %></td>
                  <td><%=data.email %></td>
                  <td><%=data.work_clinic %></td>
                  <td><%=data.Specialty %></td>
              </tr>
              <%  i++; }) %>
              <% } else{ %>
                  <tr>
                      <td colspan="8">When you perform a search, the table will adjust itself as required</td>
                  </tr>
              <% } %>
          </table>
          </div>

      </fieldset>
    </form>
  </div>



  <!-- ======= Footer ======= -->
 
  <%- include('partials/footer'); %>

  <!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/purecounter/purecounter.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>





  <!--===============================================================================================-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Template Main JS File -->

  <script src="js/main.js"></script>

</body>

</html>